/**
 * uni-app内置的常用样式变量
 */
/* 文字基本颜色 */
$uni-text-color: #333; //基本色

/* 背景颜色 */
$uni-bg-color: #ffffff;

/* 边框颜色 */
$uni-border-color: #e5e5e5;
/* 水平间距 */
$uni-spacing-row-lg: 15px;



/* 透明度 */
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度


$Black1: #ffffff;
$Black2: #F7F7F7;
$Black3: #ddd;
$Black4: #bfbfbf;
$Black5: #8c8c8c;
$Black6: #595959;
$Black7: #262626;

$Red1: #FFEFEE;
$Red2: #FFA19E;
$Red3: #FF3741;
$Red4: #B31528;

$Orange1: #FFF6E4;
$Orange2: #FFC176;
$Orange3: #ff8010;
$Orange4: #B34700;

$Yellow1: #FEFEE4;
$Yellow2: #B34700;
$Yellow3: #ff8010;
$Yellow4: #B38000;

$Green1: #F4FEEB;
$Green2: #A4E479;
$Green3: #50C41A;
$Green4: #217804;

$Blue1: #EEF4FF;
$Blue2: #92BBFF;
$Blue3: #2B6CFF;
$Blue4: #0C33B3;

$Mask1:  rgba(0,0,0,0.35);
$Mask2:  rgba(0,0,0,0.75);

// 安全头部高度、头部高度+刘海屏安全区域
$headerHeight: 112rpx;
$headerHeight_safeTop: calc(#{$headerHeight} + var(--status-bar-height));

// tabBar栏高度、tabBar栏+安全区域(h5才需要，app的tabBarHeight为0，因为它采用原生实现)
$tabBarHeight: 60px;
$headerHeight_safeBottom:calc(#{$tabBarHeight} + env(safe-area-inset-bottom));